@tailwind base;
@tailwind components;
@tailwind utilities;

/* Transiciones suaves para el modo oscuro */
@layer base {
  * {
    @apply transition-colors duration-200;
  }
  
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }
}
